.barra__pesquisa {
    display: none;
}

@media screen and (min-width: 768px) {

    .lupa {
        display: none;
    }
    
    .barra__lupa {
        background-image: url(../../img/icones/lupa-pesquisa.svg);
    }

    .barra__pesquisa {
        display: block;

        order: 1;

        width: 17rem;
        height: 2.5rem;
    
        border-radius: 20px;
        border: none;
    
        background-color: var(--cinza-fundo);
    
        padding: .5rem 1rem;
    
        box-sizing: border-box;
    
        font-weight: inherit;
        font-family: inherit;
        font-size: 14px;
        color: var(--cinza-font-pesquisa);
        
        margin-left: -5rem;
    }

    .barra__icone {
        background-repeat: no-repeat;
        background-position: right 1.5rem center;
    }
    
}

@media screen and (min-width: 1366px) {
    .barra__pesquisa {
        width: 24.5625rem;
        margin-left: -15rem;
    }
}